# Emacs backups
\#*#
.#*
*~

# Vim backups
.*.sw[po]

# Patch files
*.orig
*.rej
*.diff
*.patch

# Account created during test
accounts/keystore/UTC*

# Logs
/parity-data/node[0-9]*/network/
/parity-data/node[0-9]*/chains/
/parity-data/node[0-9]*/log
/parity-data/node0/blocks.log
/parity-data/node0/check.log
/parity-data/reserved-peers
/parity-data/spec.json
/parity-data/StakingToken.json

# NPM files
/node_modules/

build

#Mac OS specific
.DS_Store
